.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {
    color: blue;
}

.dialog.active {
    color: gold;
}


.messages {
    padding: 10px;
}

.messages .message {

}